* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
#product-overview{
    background: url("freedom.jpg");
    padding: 10px;
    width: 100%;
    height: 550px;
}

.section-title{
    color: green;
    font-family: inherit;
    text-align: center;
}
#product-overview h1{
    color: white;
    font-family: 'Anton', sans-serif;
}
.main-header{
    width: 100%;
    background-color:#7CFC00;
    padding:8px 16px;

}
.main-header > div {
    display:inline-block;
    vertical-align: middle;
}
.main-header__brand{
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
.main-nav{
    display:inline-block;
    text-align: right;
    width: calc(100% - 76px); /* Dodatkowe 5 px (czyli - 54px), a nie (-49px), bo html wychwytuje biały znak po div.*/
    vertical-align: middle;
}
.main-nav__items{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.main-nav__item{
    display: inline-block;
    margin: 0px 16px;
    text-decoration:none;
    
}
.main-nav__item a {
    text-decoration:none;
    color: #0e4f1f;
    font-weight:bold;
    padding: 5px 0px;

}
.main-nav__item a:hover,
.main-nav__item a:active{
    color: white;
    border-bottom: 3px red solid;
}
.main-nav__item--cta a{
    color: white;
    background-color: red;
    padding: 8px 16px;
    border-radius: 8px;

}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    border:none;
    color: red;
    background: white;
}
.plan{
    background-color: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.plan--highlited{
    background-color: green;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.plan__annotation{
    background-color: white;
    color: green;
    padding: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 4px;
}
.plan__title{
    color: rgb(59, 34, 12);
}
.plan__price{
    color: rgb(133,133,133);
}
.plan--highlited .plan__title{
    color: white;
}
.plan__ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 3px;
}
.plan__ul li{
    margin: 8px 0px;
}
.button{
    background-color: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover,
.button:active{
    background-color: white;
    color: green;
}
.button:focus{
    outline: none;
}
#class_to_all_of_section{
    background-color: turquoise;
    margin-top: 80px;
    padding: 16px;
}
#class_to_all_of_section .section-title{
    color: white;
    margin: 32px;
}
#feature_list{
    list-style: none;
    text-align: center;
    vertical-align: top;
}
.feature_list_item{
    display: inline-block;
    padding: 20px;
    margin: 0px;
    width: 30%;
    font-weight: bold;
    font-size: 20px;
    color: rgb(106, 92, 0)
}
.feature_img{
    background: purple;
    width: 128px;
    height: 128px;
    margin: auto;
    border: 3px solid black;
    border-radius: 50%;
}
.main-footer{
    background-color: black;
    padding: 32px;
    margin-top: 20px;
}
.footer-list{
    list-style: none;
    text-align: center;
}
.footer-list-element{
    padding: 10px;
    display: inline-block;
}
.footer-list-element a{
    text-decoration: none;
    color: white;
}
.footer-list-element a:hover,
.footer-list-element a:active{
    color: #ccc;
}




