* {
    box-sizing: border-box;
}

html{
    font-size: 16px;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.backdrop{
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.main-header{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color:#7CFC00;
    padding:0.5rem 1rem;
    z-index: 1;

}
.main-header > div {
    display:inline-block;
    vertical-align: middle;
}
.main-header__brand{
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.375rem;
    height: 1.375rem;
    display: inline-block;
}
.main-header__brand img{
    height: 150%;
}
.main-nav{
    display:inline-block;
    text-align: right;
    width: calc(100% - 76px); /* Dodatkowe 5 px (czyli - 54px), a nie (-49px), bo html wychwytuje biały znak po div.*/
    vertical-align: middle;
}
.main-nav__items{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.main-nav__item{
    display: inline-block;
    margin: 0px 1rem;
    text-decoration:none;
    
}
.main-nav__item a {
    text-decoration:none;
    color: #0e4f1f;
    font-weight:bold;
    padding: 5px 0px;

}
.main-nav__item a:hover,
.main-nav__item a:active{
    color: white;
    border-bottom: 3px red solid;
}
.main-nav__item--cta a{
    color: white;
    background-color: red;
    padding: 0.5rem 1rem;
    border-radius: 8px;

}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    border:none;
    color: red;
    background: white;
}

.button{
    background-color: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}
.button:hover,
.button:active{
    background-color: white;
    color: green;
}
.button:focus{
    outline: none;
}


.main-footer{
    background-color: black;
    padding: 2rem;
    margin-top: 0px;
}
.footer-list{
    list-style: none;
    text-align: center;
}
.footer-list-element{
    padding: 10px;
    display: inline-block;
}
.footer-list-element a{
    text-decoration: none;
    color: white;
}
.footer-list-element a:hover,
.footer-list-element a:active{
    color: #ccc;
}