main{
    padding-top: 32px;
    padding-bottom: 32px;
}
.plan_box-es{
    width: 80%;
    margin: 16px 0px;
    border: 5px solid darkgreen;
    border-left: none;
}
.plan_box-es a{
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}
.plan_box-es:hover,
.plan_box-es:active{
    box-shadow: 2px 2px 4px black;
    border-color:  red;

}
.h1_title{
    font-weight: bold;
}
.h2_description{
    font-weight: bold;
    color: #979797;
}
.p_content{
    padding: 16px;
    border: 2px solid darkgreen;
    background: white;
}
#plus{
    background: rgb(213,255,220);
}
#free{
    background: rgb(234, 252, 237);
    float: right;
    border: 5px solid darkgreen;
    border-right: none;
    text-align: right;
}
#free:hover,
#free:active
{
    border-color: red;
}
.clear_both{
    clear: both;
}
#premium{
    background: rgb(14, 79, 31);
}
#premium .h1_title{
    color: white;
}
#premium .h1_description{
    color: #bbb;
}
