#product-overview{
    background: red;
}
#product-overview h1{
    color: white;
    font-family: 'Anton', sans-serif;
}
.section-title{
    color: green;
    font-family: inherit;
}
h1{
    font-family:sans-serif;
}